@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	background: #CCC;
}
.audio-player{
	display: block;
	width: 600px;
	height: 240px;
	background: linear-gradient(#333, #000);
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}
#audio-controls{
	margin-left: 3px;
}
#audio-controls button{
	border:none;
	cursor: pointer;
	outline: none;
	display: block;
	float: left;
	margin: 5px; 
}
#audio-controls input{
	outline: none;
	display: block;
	float: left;
}
#prevbtn{
	background: url(../images/PrevButton.png) no-repeat;
	background-size: 100% 100%;
	height: 35px;
	width: 70px;
}
#playpausebtn{
	background: url(../images/PlayButton.png) no-repeat;
	background-size: 100% 100%;
	height: 70px;
	width: 70px;
}
#nextbtn{
	background: url(../images/NextButton.png) no-repeat;
	background-size: 100% 100%;
	height: 35px;
	width: 70px;
}
#mutebtn{
	background: url(../images/MuteButton.png) no-repeat;
	background-size: 100% 100%;
	height: 35px;
	width: 50px;
}

