@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	background: #CCC;
}
.audio-player{
	display: block;
	width: 600px;
	height: 240px;
	background: linear-gradient(#333, #000);
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}
#audio-controls{
	margin-left: 3%;
}
#audio-controls button{
	border:none;
	cursor: pointer;
	outline: none;
	display: block;
	float: left;
}
#audio-controls input{
	outline: none;
	display: block;
	float: left;
}
#playpausebtn{
	background: url(images/PlayButton.png) no-repeat;
}
