@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;	
}
body{
	background: #CCC;	
	font-family: Arial, Helvetica, sans-serif;
}
.audio-player{	
	display: block;	
	float: left;
	width: 45%;
	height: 44vh;
	background: linear-gradient(#333, #000);
	border-radius: 5px;
	padding: 1%;
	margin: 1%;
}
#audio-controls{
	margin-left: .5%;
}
#audio-controls button{
	border: none;
	cursor: pointer;
	outline: none;
	display: block;
	float: left;	 
}
#audio-controls input{
	outline: none;
	display: block;
	float: left;
}
#prevbtn{	
	background: url(../images/PrevButton.png) no-repeat;
	background-size: 100% 100%;
	height: 6vh;
	width: 12%;
	margin: 4% 1% 1% 1%;
}
#playpausebtn{
	background: url(../images/PlayButton.png) no-repeat;
	background-size: 100% 100%;
	height: 12vh;
	width: 12%;
	margin: 1%;
}
#nextbtn{
	background: url(../images/NextButton.png) no-repeat;
	background-size: 100% 100%;
	height: 6vh;
	width: 12%;
	margin: 4% 1% 1% 1%;
}
#mutebtn{
	background: url(../images/MuteButton.png) no-repeat;
	background-size: 100% 100%;
	height: 6vh;
	width: 8%;
	margin: 4% 1% 1% 1%;
}
#volumeslider{
	width: 45%;
	margin: 6.5% 1% 1% 1%;
}
#currTrack{
	margin: 1% 1% 1% 0%;
	padding: .5%;
	clear: both;
	width: 98.25%;
	height: 3vh;
	background: #000;
	border-bottom: #444 1px solid;
	text-align: center;
	color: rgb(57, 255, 20);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border-radius: 5px;
}
#timebox{
	margin: 1% 1% 2% 0%;
	clear: both;
	float: left;
	width: 17%;
	background: #000;
	border-bottom: #444 1px solid;
	text-align: center;
	color: rgb(57, 255, 20);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border-radius: 5px;
}
#seekslider{
	width: 80%;
	margin: 2% 1% 1% 1%;
}
input[type='range']{
	-webkit-appearance: none!important;	
	background: #000;
	height: .75vh;
	border-bottom: #444 1px solid;
	border-radius: 5px;
}
input[type='range']::-ms-fill-lower{
	background: #000;
}
input[type='range']::-ms-fill-upper{
	background: #000;
}
input[type='range']::-moz-range-track {
	border: none;
	background: #000;
}
input[type='range']::-webkit-slider-thumb{	
	-webkit-appearance: none !important;
	background: radial-gradient(#FFF, #333);
	height: 3vh;
	width: 3vh;
	border-radius: 100%;
	cursor: pointer;
}
input[type='range']::-moz-range-thumb{		
	background: radial-gradient(#FFF, #333);
	height: 3vh;
	width: 3vh;
	border-radius: 100%;
	cursor: pointer;
}
input[type='range']::-ms-thumb{
	-webkit-appearance: none !important;
	background: radial-gradient(#FFF, #333);
	height: 3vh;
	width: 3vh;
	border-radius: 100%;
	cursor: pointer;
}
#oscilloscope{
	height: 20vh;
	width: 99.5%;
	background: #000;
	border-bottom: #444 1px solid;	
	border-radius: 5px;
}
#playlist{
	display: block;
	float: right;
	width: 46.5%;
	height: 94vh;
	background: #BAE2B3;
	font-size: 16px;
	border: 5px solid #000;
	border-radius: 5px;	
	margin: 1% 1%;
	overflow-y: scroll;
}
#playlistheader{	
	width: 100%;
	margin-top: 0%;
}
#playlisttitle {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #fff;
	background: #000;
	padding-bottom: 2%;	
}
#tracktitle{
	display: block;
	font-size: 18px;
	padding: 1%;	
}
#tracktitle:nth-child(odd){
	background: #C1C9C3;
}
#tracktitle input{
	margin-top: 1.5%;
}
.checkbox{
	display: inline-block;
	float: left;
}
#tracktitle p{
	display: inline-block;
	margin-left: 3%;
	width: 75%;
	padding: .5%;
	border-radius: 5px;
	cursor: pointer;
	overflow-x: hidden;
}
#tracktitle a{
	display: inline-block;
	float: right;
	color: #6113f8;
}
#tracktitle a:hover{	
	color: #f81337;
}
#createplaylist{
	cursor: pointer;
	float: left;
	font-size: 16px;
	margin: .5% 1% 1% 1%;
	padding: .5%;
	outline: none;
	border-radius: 5px;
	background: #000;
	color: #FFF;
}
#shuffle{
	cursor: pointer;
	float: right;
	font-size: 16px;
	margin: .5% 1% 1% 1%;
	padding: .5%;
	outline: none;
	border-radius: 5px;
	background: #000;
	color: #FFF;
}

/************************* Responsive for mobile********************************/
@media (max-width: 1100px) {
	#volumeslider{		
		margin-top: 7%;
	}	
	#timebox{
		width: 30%;
	}
	#seekslider{
		width: 67%;		
	}	
}

@media (max-width: 1000px) {
	#volumeslider{		
		margin-top: 7.5%;
	}
	#tracktitle p{
		width: 70%;
	}	
}
@media (max-width: 900px) {
	#volumeslider{		
		margin-top: 8%;
	}
	#seekslider{		
		margin-top: 2.5%;
	}		
}
@media (max-width: 850px) {
	#volumeslider{		
		margin-top: 8.5%;
	}	
	#tracktitle p{
		width: 67%;
	}	
}
@media (max-width: 800px) {
	#prevbtn{	
		margin-top: 6%;
	}
	#nextbtn{
		margin-top: 6%;
	}
	#mutebtn{
		margin-top: 6%;
	}
	#volumeslider{		
		margin-top: 10.5%;
	}
}
@media (max-width: 750px) {
	#volumeslider{		
		margin-top: 11%;
	}
	#seekslider{		
		margin-top: 3%;
	}
	#tracktitle p{
		width: 65%;
	}	
}
@media (max-width: 700px) {
	#volumeslider{		
		margin-top: 11.5%;
	}	
	#tracktitle p{
		width: 62%;
	}	
}
@media (max-width: 650px) {
	#currTrack{
		font-size: 12px;
	}
	#timebox{
		width: 35%;
		font-size: 12px;
	}
	#seekslider{
		width: 62%;
	}
	#playlist{
		font-size: 14px;
	}
	#playlisttitle {
		font-size: 20px;
	}
	#tracktitle{
		font-size: 16px;
	}
	#createplaylist{		
		font-size: 14px;		
	}
	#shuffle{		
		font-size: 14px;		
	}
}
/**********************************Portait*********************************/
@media (max-width: 600px) and (orientation: portrait){
	.audio-player{
		float: none;
		width: 90%;
		margin: 1% auto;
	}
	#prevbtn{	
		margin-top: 4%;
	}
	#nextbtn{
		margin-top: 4%;
	}
	#mutebtn{
		margin-top: 4%;
	}
	#volumeslider{		
		margin-top: 7%;
	}	
	#currTrack{
		font-size: 14px;
	}
	#timebox{
		width: 17%;
		font-size: 14px;
	}
	#seekslider{
		width: 80%;
		margin-top: 2%;
	}
	#playlist{
		float: none;
		width: 90%;
		height: 49vh;
		margin: 2% auto;
		font-size: 16px;
	}
	#playlisttitle {
		font-size: 24px;
	}
	#tracktitle{
		font-size: 18px;
	}
	#tracktitle p{
		width: 70%;
	}
	#createplaylist{		
		font-size: 16px;		
	}
	#shuffle{		
		font-size: 16px;		
	}
}
@media (max-width: 575px) and (orientation: portrait){
	#timebox{
		width: 30%;
	}
	#seekslider{
		width: 67%;
	}
}
@media (max-width: 550px) and (orientation: portrait){
	#prevbtn{	
		margin-top: 4.5%;
	}
	#nextbtn{
		margin-top: 4.5%;
	}
	#mutebtn{
		margin-top: 4.5%;
	}
	#volumeslider{		
		margin-top: 7.5%;
	}	
	#tracktitle p{
		width: 70%;
	}	
}
@media (max-width: 500px) and (orientation: portrait){
	#volumeslider{		
		margin-top: 8%;
	}	
	#seekslider{		
		margin-top: 2.5%;
	}	
}
@media (max-width: 450px) and (orientation: portrait){
	#prevbtn{	
		margin-top: 5%;
	}
	#nextbtn{
		margin-top: 5%;
	}
	#mutebtn{
		margin-top: 5%;
	}
	#volumeslider{		
		margin-top: 9%;
	}
	#tracktitle p{
		width: 68%;
	}
}
@media (max-width: 400px) and (orientation: portrait){
	#prevbtn{	
		margin-top: 5.5%;
	}
	#nextbtn{
		margin-top: 5.5%;
	}
	#mutebtn{
		margin-top: 5.5%;
	}
	#volumeslider{		
		margin-top: 10%;
	}		
	#seekslider{		
		margin-top: 3%;
	}
	#tracktitle p{
		width: 65%;
	}
}
@media (max-width: 375px) and (orientation: portrait){
	#prevbtn{	
		margin-top: 6%;
	}
	#nextbtn{
		margin-top: 6%;
	}
	#mutebtn{
		margin-top: 6%;
	}
	#volumeslider{		
		margin-top: 10.5%;
	}	
	#currTrack{
		font-size: 12px;
	}
	#timebox{		
		font-size: 12px;
	}
	#seekslider{
		margin-top: 2.5%;
	}
	#playlist{		
		font-size: 14px;
	}
	#playlisttitle {
		font-size: 20px;
	}
	#tracktitle{
		font-size: 16px;
	}
	#tracktitle p{
		width: 63%;
	}
	#createplaylist{		
		font-size: 14px;
		padding-bottom: 1%;
	}
	#shuffle{		
		font-size: 14px;
		padding-bottom: 1%;
	}
}
@media (max-width: 350px) and (orientation: portrait){
	#prevbtn{	
		margin-top: 6.5%;
	}
	#nextbtn{
		margin-top: 6.5%;
	}
	#mutebtn{
		margin-top: 6.5%;
	}
	#volumeslider{		
		margin-top: 12%;
	}
}

/*********************************** Landscape **************************************/
@media (max-width: 800px) and (orientation: landscape){
	#prevbtn{	
		margin-top: 4%;
	}
	#nextbtn{
		margin-top: 4%;
	}
	#mutebtn{
		margin-top: 4%;
	}
	#volumeslider{		
		margin-top: 7.5%;
	}
	#seekslider{
		margin-top: 3%;
	}
}
@media (max-width: 700px) and (orientation: landscape){
	
}
@media (max-width: 600px) and (orientation: landscape){	
	#prevbtn{	
		margin-top: 5.5%;
	}
	#nextbtn{
		margin-top: 5.5%;
	}
	#mutebtn{
		margin-top: 5.5%;
	}
	#volumeslider{		
		margin-top: 8%;
	}
	#tracktitle p{
		width: 58%;
	}
}
@media (max-width: 500px) and (orientation: landscape){	
	#prevbtn{	
		margin-top: 5%;
	}
	#nextbtn{
		margin-top: 5%;
	}
	#mutebtn{
		margin-top: 5%;
	}
	#volumeslider{		
		margin-top: 8.5%;
	}
	#currTrack{
		font-size: 12px;
	}
	#timebox{		
		font-size: 12px;
	}	
	#playlist{		
		font-size: 14px;
	}
	#playlisttitle {
		font-size: 20px;
	}
	#tracktitle{
		font-size: 16px;
	}
	#tracktitle p{
		width: 55%;
	}
	#playlisttitle{
		height: 13vh;
	}
	#createplaylist{		
		font-size: 14px;
		padding-bottom: 1%;
		width: 25%;
	}
	#shuffle{		
		font-size: 14px;
		width: 25%;
	}	
}